$headerPageBackground: linear-gradient(90deg, $themeColor 0%, $lightThemeColor 100%);
$headerPageInternalVerticalMargin: 20px;
$headerPageInternalHorizintalMargin: 20px;
$headerPageExternalVerticalMargin: 20px;
$headerPageFontColor: $reverseFontColor;

$headerPageTitleFontSize: 36px;