@import "variables";

.PostPreview {
    &-title {
        font-size: $postPreviewTitleFontSize;
        margin-bottom: $postPreviewTitleVerticalMargin;
        color: $postPreviewTitleFontColor;
    }
}